body{
    background-image: url(images/effiel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
}
.simple-form{
    text-align: center;
    margin-left: 430px;
    margin-top:100px;
}
#registration{
    width: 50%;
    background-color: #051019;
    opacity: 0.8;
    padding: 50px 0px;
}
#button{
width: 250px;
padding: 10px;
border-radius:5px;
outline: 0px; 
}
#phone{
    width: 200px;
    padding: 10px;
    border-radius:5px;
    outline:0px;
}
b{
    font-size: 35px;
    color: #fff;
}
#rd{
    margin-left: -100px;
}

#butt{
    width: 250px;
    padding: 10px;
    border-radius:5px;
    text-align: center;
    outline: 0px;
    background-color: #0c6996;
    border: 2px solid #01010c;
color:aliceblue;
font-size: 18px;
 
}
* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    box-sizing: border-box;
}

    nav {
    width: 100%;
    height: 80px;
    background-color: #0001;
    line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}

nav ul li:hover {
    background-color: #f5ebeb;
}

nav ul li a {
    text-decoration: none;
    color: rgb(6, 17, 17);
    padding: 30px;
    text-shadow: 3px 2px rgb(0, 255, 13);
}
.my{
    display: block;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-shadow: 3px 2px red;
  }
  h1{
    text-shadow: 3px 2px rgb(204, 0, 255);
  }